<!DOCTYPE html>
<html>
<head>
    <title>Form Submission</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Submit your Info</h2>
        <form action="/submit" method="post">
            <label>Name:</label>
            <input type="text" name="name" required><br>
            
            <label>Email:</label>
            <input type="email" name="email" required><br>
            
            <label>Message:</label>
            <textarea name="message" required></textarea><br>
            
            <button type="submit">Submit</button>
        
        </form>
        <a href="/records" class="records-button">View All Records</a>
    </div>
</body>
</html>
